/node_modules
/public/hot
/public/storage
/public/storage2
/public/js
/public/css
/public/mix-manifest.json
/public/vue.html
/public/install.php
/public/unzip.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/debugbar/
